[10-Both-sides-flow]
chan.activity_period=12h
chan.min_sats_in = 10_000
chan.min_sats_out = 10_000
strategy = ignore

[20-No-tx-on-both-ends-<0.2]
chan.activity_period=12h
chan.max_sats_in = 0
chan.max_sats_out = 0
chan.max_ratio = 0.2
strategy = static
fee_ppm = 50
base_fee_ppm = 1000

[21-No-tx-on-both-ends-<0.4]
chan.activity_period=12h
chan.max_sats_in = 0
chan.max_sats_out = 0
chan.max_ratio = 0.4
strategy = static
fee_ppm = 30
base_fee_ppm = 1000

[22-No-tx-on-both-ends-<0.6]
chan.activity_period=12h
chan.max_sats_in = 0
chan.max_sats_out = 0
chan.max_ratio = 0.6
strategy = static
fee_ppm = 10
base_fee_ppm = 1000

[23-No-tx-on-both-ends-<0.8]
chan.activity_period=12h
chan.max_sats_in = 0
chan.max_sats_out = 0
chan.max_ratio = 0.8
strategy = static
fee_ppm = 5
base_fee_ppm = 1000

[24-No-tx-on-both-ends-<1.0]
chan.activity_period=12h
chan.max_sats_in = 0
chan.max_sats_out = 0
chan.max_ratio = 1.0
strategy = static
fee_ppm = 1
base_fee_ppm = 1000

[30-only-outbound-txs-<0.2]
chan.activity_period=12h
chan.max_sats_in = 0
chan.min_sats_out = 1
chan.max_ratio = 0.2
strategy = static
fee_ppm = 150
base_fee_ppm = 1000

[31-only-outbound-txs-<0.4]
chan.activity_period=12h
chan.max_sats_in = 0
chan.min_sats_out = 1
chan.max_ratio = 0.4
strategy = static
fee_ppm = 100
base_fee_ppm = 1000

[32-only-outbound-txs-<0.6]
chan.activity_period=12h
chan.max_sats_in = 0
chan.min_sats_out = 1
chan.max_ratio = 0.6
strategy = static
fee_ppm = 50
base_fee_ppm = 1000

[33-only-outbound-txs-<0.8]
chan.activity_period=12h
chan.max_sats_in = 0
chan.min_sats_out = 1
chan.max_ratio = 0.8
strategy = static
fee_ppm = 30
base_fee_ppm = 1000

[34-only-outbound-txs-<1.0]
chan.activity_period=12h
chan.max_sats_in = 0
chan.min_sats_out = 1
chan.max_ratio = 1.0
strategy = static
fee_ppm = 10
base_fee_ppm = 1000

[40-only-inbound-txs-<0.2]
chan.activity_period=12h
chan.min_sats_in = 1
chan.max_sats_out = 0
chan.max_ratio = 0.2
strategy = static
fee_ppm = 300
base_fee_ppm = 1000

[41-only-inbound-txs-<0.4]
chan.activity_period=12h
chan.min_sats_in = 1
chan.max_sats_out = 0
chan.max_ratio = 0.4
strategy = static
fee_ppm = 200
base_fee_ppm = 1000

[42-only-inbound-txs-<0.6]
chan.activity_period=12h
chan.min_sats_in = 1
chan.max_sats_out = 0
chan.max_ratio = 0.6
strategy = static
fee_ppm = 100
base_fee_ppm = 1000

[43-only-inbound-txs-<0.8]
chan.activity_period=12h
chan.min_sats_in = 1
chan.max_sats_out = 0
chan.max_ratio = 0.8
strategy = static
fee_ppm = 50
base_fee_ppm = 1000

[44-only-inbound-txs-<1.0]
chan.activity_period=12h
chan.min_sats_in = 1
chan.max_sats_out = 0
chan.max_ratio = 1.0
strategy = static
fee_ppm = 30
base_fee_ppm = 1000
